body {
  background-color: SpringGreen;
}

h2 {
  color: white;
  text-align: center;
  background-color: Green;
  border: 5px black double;
  font-size: 75px;
  font-family: sans-Serif;
}
li{
  color:black;
  font-size:55px;
  font-family: sans-Serif;
}
p{
  color:black;
  font-size:55px;
  font-family: sans-Serif;
}
table, tr {
  border:1px solid black;
}
tr{
  font-size:55px;
  font-family: sans-serif;
}
#Nav {
  list-style-type: none;
  width: 100%;
  overflow: hidden;
  position: fixed;
  background-color: black;
  top: 0;
  margin: 0;
  left: 0;
}
li a {
  display: block;
  float: left;
  padding: 10px 100px;
  color: white;
}
li a:hover {
  background-color: grey;
  color: black;
  font-size: 30px;
}

a {
  text-decoration: none;
}
